---
const today = new Date();
---

<footer class="py-12 border-t border-gray-200 text-left text-gray-500 text-sm px-12 max-md:px-6">
	<p class="m-0">&copy; {today.getFullYear()} BitsOf LLC</p>
</footer>
