---
// Navigation component
---

<nav>
    <a href="/" class="nav-logo">BitsOf</a>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
    }

    .nav-logo {
        font-size: 1.25rem;
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }
</style>
